<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<div id="plotly-div"></div>
<!--<button id="updateButton">Update</button>-->

<script>
const chromosomeLengths = {
    chr1: 254235634,
    chr2: 248063361,
    chr3: 201982879,
    chr4: 194977362,
    chr5: 184533566,
    chr6: 174537369,
    chr7: 162321437,
    chr8: 149291303,
    chr9: 144037700,
    chr10: 138245442,
    chr11: 137706647,
    chr12: 136528933,
    chr13: 117473276,
    chr14: 109496531,
    chr15: 104582020,
    chr16: 92161849,
    chr17: 82819115,
    chr18: 79638793,
    chr19: 60311563,
    chr20: 64286031,
    chr21: 49092493,
    chr22: 52330658,
    chrX: 158375972
};

let basePositions = {};
let lastPosition = 0;
Object.keys(chromosomeLengths).forEach((chr, idx) => {
    // The starting position for the current chromosome is the last position
    basePositions[chr] = lastPosition;
    // Update the last position to the starting of the next chromosome
    lastPosition += chromosomeLengths[chr];
});
let cumulativeLength = lastPosition;

// Function to process CSV data
function processData(csvData) {
    let x = [], y = [], text = [], colors = [];
    csvData.forEach((row) => {
        // Make sure the row has valid data
        if (row.chr && row.pos && row.p) {
            const chr = 'chr' + row.chr;
            const position = row.pos;
            const pValue = row.p;
            const color = row.color ? row.color : ''; // Extract color if present

            // Add base position to get the x-axis location
            const xPosition = basePositions[chr] + parseInt(position, 10);
            x.push(xPosition);
            y.push(-Math.log10(pValue));
            text.push(`Chr: ${chr}<br>Pos: ${position}`);
            //text.push(`Chr: ${chr}<br>Pos: ${position}<br>P-value: ${pValue.toExponential()}`);
            colors.push(color); // Add color to the array
        }
    });
    return { x, y, text, colors };
}

// Function to create the plot
function createPlot(x, y, text, colors) {
    const trace = {
        x: x,
        y: y,
        mode: 'markers',
        type: 'scatter',
        text: text,
        marker: {
            color: colors.length ? colors : y, // Use the colors array if not empty, otherwise use y
            colorscale: colors.length ? undefined : 'Viridis', // Disable colorscale if custom colors are used
            size: 5
        },
        hoverinfo: 'text'
    };

    // Create shapes for alternating colors on chromosomes
    shapes = Object.keys(chromosomeLengths).map((chr, idx) => {
        const start = idx === 0 ? 0 : basePositions[`chr${idx}`];
        const end = start + chromosomeLengths[chr];
        return idx % 2 === 0 ? {
            type: 'rect',
            xref: 'x',
            yref: 'paper',
            x0: start,
            y0: 0,
            x1: end,
            y1: 1,
            fillcolor: 'lightgrey',
            opacity: 0.5,
            line: {
                width: 0
            },
            layer: 'below'
        } : null;
    }).filter(shape => shape !== null);

    const layout = {
        title: '',
        xaxis: {
            tickvals: Object.values(chromosomeLengths).map((_, idx, arr) => arr.slice(0, idx + 1).reduce((a, b) => a + b) - chromosomeLengths[Object.keys(chromosomeLengths)[idx]] / 2),
            ticktext: Object.keys(chromosomeLengths).map(chr => chr.replace("chr", "")),
            tickangle: 0,
            range: [1000, cumulativeLength]
        },
        yaxis: {
            title: '-log10(p-value)',
            range: [0,9]
        },
        shapes: shapes
    };

    Plotly.newPlot('plotly-div', [trace], layout);
}


function updatePlot(newX, newY, newText, newColors) {

    const update = {
        x: newX,
        y: newY,
        text: newText,
        mode: 'markers',
        type: 'scatter',
        marker: {
            color: newColors.length ? newColors : newY, // Use newColors array if not empty, otherwise use newY
            colorscale: newColors.length ? undefined : 'Viridis', // Disable colorscale if custom colors are used
            size: 5
        }
    };


    // Animation configuration
    const animationConfig = {
        transition: {
            duration: 5000,
            easing: 'cubic-in-out'
        },
        frame: {
            duration: 5000
        }
    };

    console.log("animating points")
    // Update the data on the plot
   Plotly.animate('plotly-div', {
        data: [update],
        traces: [0], // This targets the first trace for update
        layout: {}
    }, animationConfig);

}

// Initial CSV load and plot
Papa.parse('../moving-manhattan/gcc_r1.csv', {
    download: true,
    header: true,
    dynamicTyping: true,
    complete: function(results) {
        const initialData = processData(results.data);
        createPlot(initialData.x, initialData.y, initialData.text, initialData.colors);

    }
});

function loadfile(filepath){
    console.log(filepath)
    Papa.parse(filepath, {
        download: true,
        header: true,
        dynamicTyping: true,
        complete: function(results) {
            const newData = processData(results.data);
            updatePlot(newData.x, newData.y, newData.text, newData.colors);
        }
    });
};

</script>


