<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/img/lml/lml_logo.png" alt="Learning Model of Life Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {% for item in site.navigation %}
              <li class="nav-item">
                <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>