<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - LML</title>    
    <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" as="style">
    <link rel="prefetch" href="{{ '/about/' | relative_url }}">
    <link rel="prefetch" href="{{ '/work/' | relative_url }}">
    <link rel="prefetch" href="{{ '/team/' | relative_url }}">
    <link rel="shortcut icon" type="image/webp" href="/shared-files/img/logo/LML_logo_small.webp" loading="lazy">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet" >
    <link rel="icon" href="data:,">
    <script>
        window.addEventListener('load', function() {
          document.body.classList.add('loaded');
        });
    </script>
</head>
