/*JKB manually-written custom css. High risk...*/

.container {
    max-width: 100%  /* desired width for xs screens. Default: 100%  */ !important;
}

@media (min-width: 576px) {
    .container {
        max-width: 541 /* desired width for sm screens. Default: 540px */ !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 721px /* desired width for md screens. Default: 720px */ !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 961px /* desired width for lg screens. Default: 960px */ !important;
    }
}

@media (min-width: 1200) {
    .container {
        max-width: 1021px /* desired width for xl screens. Default: 1140px */ !important;
    }
}

@media (min-width: 1400) {
    .container {
        max-width: 1141px /* desired width for xxl screens. Default: 1320px */ !important;
    }
}

/* make all images fit within page */
.row img {
    max-width: 100%;
    height: auto;
}

/* make all list items fit within page */
.container ul, 
.container ol {
    padding-left: 3em;
}


/* fade divs on scroll. Needs fade.js */

.fadeIn {
    opacity: 1 !important;
    transition: opacity 0.8s; /* Adjust duration as needed */
    transition-delay: 0.2s;
}

.willfade {
  opacity: 0;
}

/* alternate background shading for rows */

.row-odd{
    background: #F8F9FA;
    border-radius: 0.3em;
}

.row-even{
    background: white;
}


/* custom person cards */

.card-person{
    box-shadow: 0 5px 25px rgba(0, 30, 30, 0.1);
    padding: 40px 30px;
    text-align: center;
    background: #fff;
    margin-right: 40px;
    margin-bottom: 60px;
    position: relative;
    height: 80%;
}

.card-person-image {
    height:80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-person-image img {
  max-width: 100%;  
  max-height: 100%; 
}

.card-person-text {
    margin-top: 0.4em;
    height: 20%;
}

.alumnus{
    height: auto;
    text-align: left;
    width: 100%;
}


/* remove underline from header links */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}


/* logo images in navbar */

.navbar .navbar-logo {
    height: 2.4em; 
    width: auto; /* Keep the original aspect ratio */
    margin-right: 10px; 
    margin-bottom: 4px; 
}


/* CSS for mobile and smaller screens */
@media (max-width: 991px) { /* Just below Bootstrap's LG breakpoint */
    .navbar .navbar-logo {
        height: 1em;
        max-width: 100%;
        margin-right: 2px;
    }
}

/* counter area */

.counter-area {
  position: relative;
  z-index: 1;
  background: url(/img/background/pg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.counter-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0A0653;
  opacity: 0.6;
  transition: 0.4s;
  content: "";
  z-index: -1;
}

.countertextbox{
    height: 400px;
    color: white;
}

/* prognosis options for more corporate look */

main.widespacing .row{
    margin-top: 2em;
    margin-bottom: 2em;
}

main.widespacing h1,
main.widespacing h2,
main.widespacing h3 {
    margin-top: 2em;
    margin-bottom: 3em;
}

h1, h2, h3, h4, h5, h6, p {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Playfair Display', serif;
    }

/* logo */
.letter {
font-size: 2rem;
font-weight: bold;
position: relative;
color: #30447C;
transition: color 3s;
}

#staticlogo .letter {
  font-size: 1rem;
}

.dot {
position: absolute;
width: 0.155em;
height: 0.155em;
background-color: #30447C;
border-radius: 50%;
transform: translateX(-133%);
transition: top 3s, opacity 3s, background-color 3s;
}

#staticlogo .dot{
transform: translateX(-130%);
}

/* Initial state for all dots */
.dot:nth-child(1) { top: -0.3em; }
.dot:nth-child(2) { top: -0.1em; }
.dot:nth-child(3) { top: 0.1em; }

.letter.i .dot { top: 0.2em; }
.letter.i .dot:nth-child(1) { top: 0.2em; }
.letter.i .dot:nth-child(2) { top: 0.2em; }

/* Final state for all dots */
.end .dot:nth-child(1),
.end .dot:nth-child(2) { top: 0.5em; opacity: 0;}
.end .dot:nth-child(3) { top: 0.5em; opacity: 0;}

/* For the 'i' dots */
.letter.i.end { color: #7a2f2f; }
.letter.i.end .dot { opacity: 1; background-color: #7a2f2f; }
.letter.i.end .dot:nth-child(1) { top: -0.23em; }
.letter.i.end .dot:nth-child(2) { top: -0.01em; }

/* For the other letters */
.letter:not(.i).end { color: #30447C; }
.letter:not(.i).end .dot { opacity: 0; background-color: #30447C; }




