
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); 
    padding-top: 100px; 
    text-align: center;
}

.error-page h1 {
    font-size: var(--font-size-huge);
    color: var(--dark-gray);
    margin-bottom: 0;
}

.error-page h2 {
    font-size: var(--font-size-xxl);
    color: var(--black);
    margin-top: 0;
}

.error-page p {
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-lg);
    color: var(--dark-gray);
    margin-bottom: 2rem;
}

/* Landing page animation styles */
.dna-binary-animation {
    position: relative;
    width: 60%;
    height: 100px; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.dna-binary-char {
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.3s ease;
}

@keyframes moveAcross {
    from { transform: translateX(0px); }
    to { transform: translateX(100vw); }
}