
/* About styles */
.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: calc(3rem + 80px);
}

.about-title {
  font-family: var(--font-family-serif);
  text-align: left;
  font-size: 4.2rem;
  font-weight: semibold;
  margin: 2rem 0 2rem;
  color: var(--dark-gray);
}

/* About section layout */
.about-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.logo-container {
  flex: 1;
  padding-right: 2rem;
}

/* Logo styles */
.lml-logo {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  max-width: 300px;
  opacity: 0.2; 
  transition: opacity 0.3s ease; 
}

.lml-logo:hover {opacity: 1; }

/* About text styles */
.about-text {
  flex: 2;
  text-align: justify;
}

.about-text p {
  font-family: var(--font-family-sans-serif);
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text p:nth-of-type(2) {text-align: left;}

.about-text p:nth-of-type(3) {
  text-align: left;
  margin-bottom: 4rem;
}

/* Link styles */
.about-text a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--black);
  transition: border-bottom-color 0.3s ease;
}

.about-text a:hover {
  border-bottom-color: transparent;
}

