
/* Hero Styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cream);
    min-height: 100vh;
    padding-top: 10rem;
    text-align: center;
}

.hero-title {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-huge);
    font-weight: 200;
    color: var(--dark-gray);
    margin-top: 4rem;
    line-height: 1;
    padding-bottom: 2rem;
}


/* Decoding Animation Styles */
#decoding-animation {
    position: relative;
    width: 66.6vw;
    margin-top: 2rem auto;
    margin-bottom: 4rem ;
}

.decoding-char {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--font-family-mono);
    line-height: 1;
    transition: left 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.decoding-char.encoded-text {color: var(--dark-gray);}

.decoding-char.decoded-text {color: var(--dark-gray);}

/* Animation Keyframes */
@keyframes blendOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes blendIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Index Image Styles */
.index-image-container {
    width: 100vw;
    margin-left: 22%;
    display: flex;
    overflow: hidden;
    margin-top: 2.5rem;
}


.index-image {
    height: 60vw;
    margin: 1rem 0 4rem;
    object-fit: cover;
}


.content-section {
    padding: 5vw;
    margin-top: -10vw;
}


/* First Section Styles */
.first-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5vw 14vw;
    margin-bottom: 18vw;
}

.subhero-title {
    grid-area: 1 / 1; 
    font-family: var(--font-family-serif);
    font-size: 5vw;
    color: var(--dark-gray);
    align-self: flex-start;
    margin-right: -14vw;
    line-height: 1;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    white-space: nowrap;
}

.right-image {
    grid-area: 1 / 2 / span 3 / span 1;
    width: 48vw;
    height: auto;
    margin-left: -5vw;
}

.singularity {
    grid-area: 2 / 1; 
    color: var(--dark-gray);
    text-align: right;
    margin-right: -12vw;
    margin-left: 2vw;
    font-family: var(--font-family-sans-serif);
    font-size: 1.2vw;
    margin-block-start: 0em;
}

.mission {
    grid-area: 3 / 1; 
    color: var(--dark-gray);
    text-align: left;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 1.8vw;
    font-weight: bold;
    margin-left: 12vw;
    margin-right: -1.5vw;
    line-height: 1.2;
}


/* Second Section Styles */
.second-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5vw 2.5vw 2.5vw;
    padding-bottom: 7vw;
}

.strength1 {
    grid-area: 1 / 1;
    color: var(--dark-gray);
    text-align: right;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 1.8vw;
    font-weight: bold;
    margin-right: 8vw;
}

.strength2 {
    grid-area: 2 / 1;
    color: var(--dark-gray);
    text-align: right;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 1.8vw;
    font-weight: bold;
    margin-right: 12vw;
}

.strength3 {
    grid-area: 3 / 1;
    color: var(--dark-gray);
    text-align: right;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 1.8vw;
    font-weight: bold;
    margin-right: 16vw;
}


.left-image {
    grid-area: 4 / 1 / span 1 / span 2;
    width: 68vw;
    justify-self: center;
}

.uoe {
    grid-area: 5 / 2;
    color: var(--dark-gray);
    text-align: left;
    font-family: var(--font-family-sans-serif);
    font-size: 1.2vw;
    margin-left: -9.5vw;
    margin-right: 11.5vw;
    margin-top: -9.5vw;
}

/* Mobile Navbar */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    position: relative;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
}

/* Positioning for hamburger spans */
.hamburger span:nth-child(1) {top: 0;}
.hamburger span:nth-child(2) {top: 9px;}
.hamburger span:nth-child(3) {top: 18px;}

/* Active state for hamburger */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}