
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: var(--cream);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  border-bottom: 0.75px solid var(--black);
}

.navbar-brand {
  font-family: var(--font-family-sans-serif);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--black);
  text-decoration: none;
  letter-spacing: -0.01em;
}

.navbar-logo {
  width: 2.5rem;
  height: 2.5rem; 
  margin-right: 0.5em;
  vertical-align: middle;
}

.nav-brandname {
  display: inline
}

.navbar-links {
  display: flex;
  gap: 2rem;
  margin-right: 2.5%;
}

.nav-link {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  font-size: var(--font-size-lg);
  color: var(--black);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--black);
  transition: width 0.1s ease;
}

.nav-link.active::after {
  width: 100%;
}

@media (min-width: 50em) {
  .nav-link:hover::after {
    width: 100%;
  }
}

@media (max-width: 49.9375em) {
  .nav-link:active,
  .nav-link:focus {
    outline: none;
    text-decoration: none;
  }
}

.current {
  font-weight: 600;
}

.navbar-scrolled {
  background-color: var(--off-white);
}

/* Footer styles */
.footer {
  background-color: var(--cream);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  max-width: 250px;
  height: auto;
}

.footer-divider {
  border: none;
  border-top: 0.75px solid var(--border-color);
  margin: 0;
  padding: 0;
}

@media ( max-width: 50em ) {
  .nav-brandname {
    display: none;
  }
}