
/* Work styles */
.work-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: calc(2.5rem + 50px); 
}

.work-title {
  font-family: var(--font-family-serif);
  text-align: center;
  font-size: var(--font-size-xl);
  padding-bottom: 2vw;
  color: var(--dark-gray);
}


/* Article grid layout */
.article-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding-bottom: 4rem;
}

/* Article item styles */
.article-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-item {
  position: relative;
  background-color: var(--cream);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.article-link:hover .article-item {transform: translateY(-5px);}

.article-image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.article-link:hover .article-image {filter: brightness(30%);}

/* Article info overlay */
.article-info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--off-white);
  text-align: center;
  padding: 1rem;
  background-color: var(--dark-gray);
  transform: translateY(20px);
}

.article-link:hover .article-info {
  opacity: 0.6;
  transform: translateY(0);
}

.article-info p {
  margin: 0.3rem 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.article-info p:nth-child(1) {font-size: 1.4rem;}
.article-info p:nth-child(2) {font-size: 1.2rem;}

.article-info p:nth-child(3) {
  font-style: italic;
  font-size: 1.1rem;
}



/* Responsive design */
@media ( min-width: 29em ) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media ( min-width: 40em ) {
  .article-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media ( min-width: 55em ) {
  .article-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}