<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
{% endif %}
<body>
    {% include navbar.html %}
    <main role="main">
        {{ content }}
    </main>
    {% include footer.html %}
    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
            <script src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
        {% endfor %}
    {% endif %}
    <script src="{{ '/assets/js/nav-active.js' | relative_url }}" defer></script>
</body>
</html>