---
layout: default
---

<div class="row">
    <div class="col">
    <img class="img-fluid w-50 rounded float-end m-5" src="{{page.img  | relative_url }}" alt="{{page.name}}">
    <h3>{{page.name}}</h3>
    <h5>{{ page.role }}</h5>
	{{ content }}
    {% if page.orcid %}
    <p><a href="https://orcid.org/{{ page.orcid }}">ORCID profile</a></p>
    {% endif %}
    {% if page.scholar %}
    <p><a href="https://scholar.google.com/citations?user={{ page.scholar }}&hl=en">Google Scholar</a></p>
    {% endif %}
    </div>
</div>